<section class="product-preview">
  <div class="container">
    <app-product-images />
    <div class="product-preview__info">
      <h1 class="product-preview__title"></h1>
      <!-- <app-star-rating class="product-preview__rating" /> -->
      <!-- <app-product-price class="product-preview__price" /> -->
      <p class="product-preview__description"></p>
      <div class="product-preview__buttons">
        <app-count-button />
        <!-- <app-button /> -->
      </div>
    </div>
  </div>
</section>
