.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__label {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__images {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    &__img {
        width: auto;
    }

    &__label {
        &#img {
            position: relative;
            width: max-content;
            cursor: pointer;

            .form__input {
                opacity: 0;
                position: absolute;
                display: inline-block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
}