:host {
  display: inline-block;
  width: 95px;
}
.star-rating {
  overflow: hidden;
  display: flex;
  align-items: center;

  &__star {
    flex-shrink: 0;
    width: 19px;
    height: 19px;
  }
}

@media (max-width: 575px) {
  :host {
    display: inline-block;
    width: 75px;
  }

  .star-rating {
    &__star {
      width: 15px;
      height: 15px;
    }
  }
}
