.header {
  padding: 24px 0;

  &__container {
    display: grid;
    grid-template-columns: 160px minmax(316px, 340px) minmax(0, 577px) minmax(0, 62px);
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__logo {
    font: 900 32px/1 var(--font-m);
    cursor: pointer;
  }
}
