:host {
  width: 100%;
  height: max-content;
}

.filters {
  background: #fff;
  border: 1px solid #0000001a;
  padding: 0 24px 20px;
  border-radius: 20px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 24px;
    border-bottom: 1px solid #0000001a;
    background: #fff;

    &-close {
      display: none;
    }
  }

  &__title {
    font: 700 20px/1 var(--font-i);
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__categories {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      font: 400 16px/1 var(--font-i);
      color: #00000099;
      transition: color 0.2s ease;
    }

    &-arr {
      opacity: 0.6;
      transition: opacity 0.2s ease;
      width: 16px;
      height: 16px;
    }

    &:hover,
    &.active {
      .filters__category {
        &-text {
          color: #000;
        }

        &-arr {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  :host {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 93px;
    background: #00000033;
    z-index: 10;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    &:has(.filters.active) {
      visibility: visible;
      opacity: 1;
    }
  }

  .filters {
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    padding-top: 69px;

    &__head {
      position: fixed;
      width: calc(100% - 48px);
      z-index: 1;
      top: 93px;

      &-close {
        display: inline-block;

        &-svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    &__icon {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .filters {
    padding-top: 65px;

    &__head {
      padding: 20px 0 16px;
    }
  }
}
