.auth-form {
    max-width:  700px;
    margin: 150px auto 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__title {
        font: 700 32px/1 var(--font-i);
    }

    &__label {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__error {
        background: #f8d7da;
        border: 1px solid #f1aeb5;
        padding: 16px;
        border-radius: 6px;
    }

    &__error-text {
        color: #58151c;
    }
}