.product-card {
  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 295px;
    background: var(--grey);
    border-radius: 20px;
    margin-bottom: 16px;
  }

  &__title {
    font: 700 20px/1 var(--font-i);
    margin-bottom: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 8px;
  }

  &__rating-num {
    font: 400 14px/1 var(--font-i);
  }

  &__rating-max {
    color: #00000099;
  }

  &__price-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__price {
    font: 700 24px/1 var(--font-i);
  }

  &__start-price {
    color: #00000066;
    font: 700 24px/1 var(--font-i);
    text-decoration: line-through;
  }

  &__discount {
    padding: 6px 14px;
    background: #ff33331a;
    color: #ff3333;
    font: 500 12px/1 var(--font-i);
    border-radius: 62px;
  }
}

@media (max-width: 575px) {
  .product-card {
    &__img-container {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
    }

    &__img {
      width: 180px;
      height: 180px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 4px;
    }

    &__rating {
      gap: 11px;
    }

    &__rating-num {
      font-size: 12px;
    }

    &__price,
    &__start-price {
      font-size: 20px;
    }

    &__price-container {
      gap: 5px;
    }

    &__discount {
      font-size: 10px;
      padding: 6px;
    }
  }
}
