<a
  [routerLink]="`/shop/${product().category}/${product().title}`"
  [queryParams]="{ id: product().id }"
  class="product-card"
>
  <div class="product-card__img-container">
    <img
      [ngSrc]="product().thumbnail"
      class="product-card__img"
      alt="cloth"
      width="260"
      height="260"
      [priority]="priority()"
    />
  </div>
  <h4 class="product-card__title">{{ product().title }}</h4>
  <div class="product-card__rating">
    <app-star-rating [ratingPercents]="ratingPercents()" />
    <p class="product-card__rating-num">
      {{ product().rating }}/<span class="product-card__rating-max">5</span>
    </p>
  </div>
  <app-product-price
    [data]="{ price: product().price, discount: product().discountPercentage }"
  />
</a>
