<swiper-container
  space-between="14"
  grab-cursor="true"
  free-mode="true"
  slides-per-view="3"
  direction="vertical"
  class="images__all"
>
  @for (img of images(); track $index) {
  <swiper-slide class="images__slide">
    <button
      (click)="changeImg($index)"
      [class]="{ images__small: true, active: $index === activeImgIndex() }"
    >
      <img
        [ngSrc]="img"
        class="images__img"
        width="152"
        height="152"
        priority="true"
      /></button
  ></swiper-slide>
  }
</swiper-container>
<div class="images__big">
  <img
    [ngSrc]="images()[activeImgIndex()]"
    width="444"
    height="444"
    class="images__img"
    priority="true"
  />
</div>
