.header-menu {
  display: flex;
  align-items: center;
  gap: 24px;

  &__link {
    font: 400 16px/1 var(--font-i);
  }

  &__dropdown-btn {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.mat-mdc-menu-item-text {
    font: 400 14px/1.2 var(--font-i);
    color: green;
}
