
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}*{margin:0;padding:0;box-sizing:border-box}html,body{height:100%;font-family:sans-serif;background:#fff;color:#000}a{text-decoration:none;color:inherit}button{all:unset;cursor:pointer;display:inline-block;text-align:center}ul,ol{list-style:none}input,textarea,select,button{font:inherit;background:none;border:none;outline:none}table{border-collapse:collapse;border-spacing:0}
