@import "@fontsource/inter/400.css";
@import "@fontsource/montserrat/900.css";

:root {
  --font-m: Montserrat, sans-serif;
  --font-i: Inter, sans-serif;
  --grey: #f2f0f1;
}

.container {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Drop Down

.mat-mdc-menu-panel {
  .mat-mdc-menu-content {
    background: var(--grey);
  }

  .mat-mdc-menu-item {
    min-height: 25px;
  }

  .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    font: 400 14px/1.2 var(--font-i);
  }
}

// Pagination

pagination-controls pagination-template nav .ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  .pagination-previous,
  .pagination-next {
    padding: 8px 14px;

    border: 1px solid #0000001a;
    border-radius: 8px;

    a {
      padding: 0;
      background: transparent;
    }
  }

  .pagination-previous {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    a::before,
    &.disabled::before {
      content: "🡠";
      font-size: 20px;
      line-height: 1;
      margin: 0;
    }
  }

  .pagination-next {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    a::after,
    &.disabled::after {
      content: "🡢";
      font-size: 20px;
      line-height: 1;
      margin: 0;
    }
  }

  li:not(.pagination-previous):not(.pagination-next):not(.small-screen) {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font: 500 14px/20px var(--font-i);

    a {
      color: #00000080;
      background: transparent;

      :hover {
        color: #000;
      }
    }

    &.current {
      background: #0000000f;
      color: #000;
    }
  }
}
