.review {
  padding: 28px 32px;
  border-radius: 20px;
  border: 1px solid #0000001a;

  &__rating {
    margin-bottom: 15px;
  }

  &__owner {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;

    &-name {
      font: 700 20px/1 var(--font-i);
    }

    &-svg {
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    color: #00000099;
    margin-bottom: 24px;
    font: 400 16px/22px var(--font-i);
  }

  &__date {
    color: #00000099;
    font: 500 16px/22px var(--font-i);
  }
}

@media (max-width: 575px) {
    .review {
        padding: 24px;

        &__rating {
            margin-bottom: 12px;
        }

        &__owner {
            margin-bottom: 8px;

            &-name {
                font-size: 16px;
            }

            &-svg {
                width: 19px;
                height: 19px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 16px;
        }

        &__date {
            font-size: 14px;
        }
    }
}